
*{
  border: 0px solid;
}

body {
  background-color: #000;
  color: #fff;
}

.myNav{
  margin-bottom: 20px;
}

.navbar a{
  padding: 5px;
  margin-left: 2px;
}

.myfooter{
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}

.myfooter img{
  width: 35px;
  padding: 2px;
  margin-bottom: 5px;
  display: inline-block;
}

.myfooter a{
  text-decoration: none;  
  color: #;
  font-style: italic;
}

.myfooter a:hover{
  color: #f5f5f5;
}

.contacto a{
  padding: 10px;
  margin: 5px;
}

.contacto a:hover, .myNav a:hover{
  background-color: #f5f5f55f;
  transition: 0.2s;
}

.container {
  border: 0px solid;
  padding: 5px;
  width: 60%;
  margin-bottom: 10rem;
}

.container .row{
  background-color: #;
  border: 0px dashed;  
  margin-top: 1rem;
}

#formularioregistro {
  border: 1px solid;
  margin: 10px;
  padding: 10px;
  background-color: 
}

#loginModal .modal-content{
  padding: 20px;
  border-radius: 5%;
  background-color: #000;
  color: #fff;
}

.container h3 {
  text-decoration: underline;
}

.error {
  outline: 01px solid #ee0000;
  background-color: #ff9b80;
}

